@font-face {
  font-family: "ff-good-headline-web-pro-con", sans-serif;
  font-weight: 500;
  src: url("https://use.typekit.net/mjo1ikl.css");
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url(./fonts/Segoe-UI-Font/SEGOEUI.TTF) format("TTF");
}
@font-face {
  font-family: "Segoe Pro";
  src: local("Segoe Pro"),
    url(./fonts/SegoePro/SegoePro-Black.ttf) format("TTF");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.demoSpace {
  background: rgba(244, 244, 244, 0.828);
  border: 1px dotted rgba(0, 0, 0, 0.228);
  box-sizing: border-box;
  overflow-y: scroll;
  height: 400px;
  width: 90%;
}

.controlButtons {
  margin: 5px;
}
.GiraffeHero {
  position: relative;
  display: inline-block;
  width: 100%;
}
.GiraffeHeroImage {
  display: block;
}
.GiraffeHeroText {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
}

.GiraffeHeroSubtextOne {
  font-size: 20px;
  line-height: 22px;
  font-family: times;
  opacity: 0.88;
  margin: 0 0 20px 0;
}

.GiraffeHeroSubtextTwo {
  font-family: Segoe Pro;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}

.GiraffeHeroTitleText {
  font-family: "ff-good-headline-web-pro-con";
  font-size: 62px;
  line-height: 19px;
  margin: 10px 0 30px 0;
}
.GiraffeHeroButton {
  background: #3e9ee3;
  width: 140px;
  height: 32px;
  left: 502px;
  top: 371px;
  color: white;
  padding: 0px;
  border: 0px;
  margin: 30px 0 0 0;
}

.MicrosoftIconContainer {
  margin: 40px 30px;
}

.ComponentList {
  text-align: center;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 19px;
  opacity: 0.66;
  margin: 60px 0 30px 0;
}
.ComponentBoxList {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.ComponentBox {
  position: relative;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  padding: 20px;
  width: 256px;
  min-height: 245px;
  background-color: #f9f9fb;
}
.ComponentBoxTitle {
  margin: 10px 0 15px 0;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 19px;
  opacity: 0.6;
}
.ComponentBoxText {
  font-family: Segoe UI;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.7;
}

.ProvidersList {
  margin: 60px 0;
  text-align: center;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 19px;
  opacity: 0.66;
}

.ProvidersListSecondaryText {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.ComponentListArrowIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px 15px 15px 15px;
}

.ProvidersArea {
  text-align: center;
}
.ProviderSection {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  margin: 0px 0px 60px 60px;
  width: 20%;
}
.ProviderTitle {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  text-decoration: none;
  color: #0078d4;
}
.ProviderSecondary {
  margin: 10px 0 20px 0;
  font-family: Segoe Pro;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.7;
}

.sidenav {
  position: absolute;
  width: 15%; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-left: 20px;
  padding-top: 80px;
}

/* The navigation menu links */
.sidenav a {
  padding: 0px 8px 6px 16px;
  text-decoration: none;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #0078d4;
  display: block;
}

/* Style page content */
.main {
  margin-left: 15%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sidenavText {
  margin: 0 0 0 15px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 41px;
  color: #000000;

  opacity: 0.44;
}

.sidenavIcon > svg {
  margin: 0 10px 0 0;
  vertical-align: middle;
  transform: scale(0.7);
}
.markdownArea {
  display: block;
  margin: 60px 60px 60px 60px;
}

.editorIcon > svg {
  vertical-align: middle;
  margin: 20px;
}

#editorText {
  margin: 0 0 0 10px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 25.5378px;
  line-height: 16px;
}
